body {
  margin: 0;
  padding: 0;
}

a, a:visited {
  color: #f1f;
  text-decoration: none;
}

a:hover {
  color: black;
  text-decoration: underline;
}  
  
#description-helper-text{
  text-align: right;   
}

.headline {
  margin-bottom: 32px;
}

.info {
  margin-top: 32px;
}

.wantsToHelp {
  font-style: italic;
  margin: 1em 0;
}
